@import 'src/style/constants';

.textLabel {
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
  @include regularText;
}

.textInput {
  width: 100%;
  border: solid 1px;
  border-color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 10px;
  display: block;
  @include regularText;
}
