@import 'src/style/constants';

.textLabel {
  display: block;
  margin-top: 50px;
  padding-bottom: 5px;
  @include boldText;
}

.textInput {
  width: 100%;
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px;
  border-color: var(--disabled);
  background-color: var(--backgroundColor);
  display: block;
  padding: 10px 10px 0 10px;
  @include regularText;
}

input::-webkit-input-placeholder {
  line-height: 1.5;
}

.visited {
  border-color: var(--textColor);
}

.error {
  border-color: var(--error);
}
