@import 'src/style/constants';

.validation {
  margin: 10px 0;
  @include smallText;
}

.errorMessage {
  display: flex;
  align-items: center;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.error {
  background-color: var(--error);
}

.warning {
  background-color: var(--warning);
}

.text {
  vertical-align: middle;
}
