@import 'src/style/constants';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include regularText;
  font-family: $fontRegular;
  padding-bottom: 200px;
  @media #{$monitor} {
    height: 100%;
  }
}

.lightBackground {
  background-color: white;
}

.darkBackground {
  background-color: var(--backgroundColor);
}
