@import 'src/style/constants';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--backgroundColor);
  @include regularText;
  font-family: $fontRegular;
  padding-bottom: 200px;
}
