@import 'src/style/colors';
@import 'src/style/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  font-family: $fontRegular;
  font-size: 22px;
  color: var(--textColor);
}

.content {
  max-width: 50%;
  @media (max-width:1200px) {
    max-width: 90%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.subsection {
  margin: 20px 0px;
}

.smallMarginLeft {
  margin-left: 8px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $serifFontRegular;
  font-size: 45px;
  color: var(--hvit);
}
