$mobileMaxWidth: 540px;
$mobileMinWidth: 321px;
$smallMobileWidth: 375px;
$tabletMinWidth: 768px;
$largeTabletMinWidth: 1024px;
$minDesktopWidth: 950px;
$desktopMaxWidth: 1025px;

$headerDesktop: 50px;
$headerMobile: 22px;
$subheaderDesktop: 30px;
$subheaderMobile: 16px;
$textDesktop: 22px;
$textMobile: 12px;

$desktop: 'only screen and (min-width: #{$mobileMaxWidth})';
