@import 'src/style/fonts';

$mobileMaxWidth: 540px;
$mobileMinWidth: 321px;
$smallMobileWidth: 375px;
$tabletMinWidth: 768px;
$largeTabletMinWidth: 1024px;
$minDesktopWidth: 950px;
$desktopMaxWidth: 1025px;

$headerDesktop: 50px;
$headerMobile: 30px;
$textDesktop: 20px;
$textMobile: 16px;
$smallDesktop: 22px;
$smallMobile: 12px;
$buttonMobile: 16px;

$desktop: 'only screen and (min-width: #{$mobileMaxWidth})';

@mixin regularText {
  color: var(--textColor);
  font-size: $textMobile;
  font-family: $fontLight;
  @media #{$desktop} {
    font-size: $textDesktop;
  }
}

@mixin headerText {
  color: var(--headerColor);
  font-size: $headerMobile;
  font-family: $serifFontRegular;
  @media #{$desktop} {
    font-size: $headerDesktop;
  }
}

@mixin smallText {
  color: var(--textColor);
  font-size: $smallMobile;
  font-family: $fontLight;
  @media #{$desktop} {
    font-size: $smallDesktop;
  }
}

@mixin buttonText {
  color: var(--backgroundColor);
  font-family: $fontLight;
  font-size: $buttonMobile;
  text-align: center;
  overflow-wrap: break-word;
}
