@import '/fonts/webfonts.css';

$fontLight: 'FFDINWebProLight', sans-serif;
$fontRegular: 'DINW01Regular', sans-serif;
$fontMedium: 'DINW01Medium', sans-serif;

$fontItalic: 'DINW01LightItalic', sans-serif;

$serifFontRegular: 'NewZaldBook', serif;
