.container {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  text-align: left;
  text-decoration: none;
  font-size: 24px;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  text-decoration: underline;
}
