@import 'src/style/constants';
@import 'src/style/fonts';

.modalContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal {
  display: flex;
  flex-direction: column;
  @include regularText;
  color: var(--backgroundColor);
  background-color: var(--lightTextColor);
  z-index: 3;
  line-height: initial;
  padding: 20px;
  position: fixed;
  min-width: $modalWidth;
  min-height: $modalHeight;
  max-width: 95vw;
}

.header {
  @include boldText;
  color: var(--backgroundColor);
  height: $modalPadding;
  padding-left: $modalPadding;
  margin-bottom: 20px;
  max-width: 600px;
}

.modalContent {
  padding: $modalPadding;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.cross {
  width: $crossSize;
  height: $crossSize;
  z-index: 4;
  cursor: pointer;
}
