@import 'src/style/constants';

.container {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  @media #{$desktop} {
    flex-direction: row;
    align-items: center;
  }
}

.header {
  @include headerText;
  @media #{$desktop} {
    margin-right: 40px;
  }
}

.generalInfoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media #{$desktop} {
    margin-top: 0;
    flex-direction: row;
  }
}

.regularText {
  @include regularText;
}

.iconTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  @media #{$desktop} {
    margin-right: 3px;
    margin-left: 30px;
  }
}

.clockIcon {
  margin-right: 10px;
  min-height: 32px;
  min-width: 32px;
  @media #{$desktop} {
    margin-right: 8px;
  }
}

.externalIcon {
  margin-right: 15px;
  min-height: 28px;
  min-width: 28px;
  @media #{$desktop} {
    margin-right: 8px;
    margin-left: 30px;
  }
}

.description {
  @include regularText;
  margin-top: 40px;
  @media #{$desktop} {
    margin-top: 90px;
  }
}

.orgainzier {
  @include regularText;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  & > button:not(:first-child) {
    margin-top: 20px;
  }
  @media #{$desktop} {
    flex-direction: row;
    & > button:not(:first-child) {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}
