@import 'src/style/constants';

.subsection {
  margin: 20px 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  @include headerText;
}

.copy {
  display: flex;
  justify-content: left;
}

.text {
  padding-left: 10px;
}
