@import 'src/style/constants';

.p {
  @include regularText;
  line-height: 1.5;
  margin: 0;
}

.subHeader {
  @include subHeaderText;
  margin-top: 50px;
}

.registrationContainer {
  @media #{$desktop} {
    width: 50%;
  }
}

.fourOhFour {
  display: flex;
  align-items: center;
  height: 100vh;

  span {
    font-family: $fontMedium;
  }
}
