@import 'src/style/constants';

.container {
  display: flex;
  flex-direction: column;
  width: stretch;
  background-color: var(--svart);
}

.headerContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: $pageMobileWidth;
  @media #{$desktop} {
    flex-direction: row;
    align-items: center;
    width: $pageDesktopWidth;
    max-width: 2000px;
  }
  gap: 10px;
}

.header {
  @include headerText;
  color: black;
  word-wrap: break-word;
  hyphens: auto;
  @media #{$desktop} {
    margin-right: 40px;
  }
}

.registrationDeadlineText {
  font-family: $fontLight;
  font-size: 16px;
  margin-top: 50px;
}

.generalInfoContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: $pageMobileWidth;
  @media #{$desktop} {
    flex-wrap: wrap;
    margin-top: 0;
    flex-direction: row;
    width: $pageDesktopWidth;
    max-width: 2000px;
  }
}

.regularText {
  @include regularText;
}

.iconTextContainer {
  @include regularText;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin-right: 30px;
}

.icon {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  @media #{$desktop} {
    margin-right: 3px;
  }
}

.clockIcon {
  margin-right: 10px;
  min-height: 32px;
  min-width: 32px;
  @media #{$desktop} {
    margin-right: 8px;
  }
}

.externalIcon {
  margin-right: 15px;
  min-height: 28px;
  min-width: 28px;
  @media #{$desktop} {
    margin-right: 8px;
  }
}

.contentContainer {
  margin: auto;
  padding-bottom: 30px;
  width: $pageMobileWidth;
  @media #{$desktop} {
    width: $pageDesktopWidth;
    max-width: 800px;
    margin-left: calc(max((100vw - 2000px) / 2, 15%));
  }
}

.description {
  @include regularText;
  margin-top: 40px;
  white-space: pre-wrap;
  @media #{$desktop} {
    margin-top: 50px;
  }
}

.organizer {
  @include regularText;
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  p {
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    align-self: center;
  }
}

.organizerName {
  font-family: $fontMedium;
  margin-top: -5px !important;
}

.organizerEmail {
  opacity: 0.7;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  & > button:not(:first-child) {
    margin-top: 20px;
  }
  @media #{$desktop} {
    flex-direction: row;
    & > button:not(:first-child) {
      margin-top: 0;
    }
  }
}

.preview {
  h3 {
    margin-bottom: 0px;
    font-size: 16px;
    font-family: $serifFontRegular;
  }
  font-size: 14px;
  font-family: $fontLight;
}

.paragraph {
  line-height: 26px;
  min-height: 26px;

  h3 {
    font-family: $serifFontRegular;
    margin: 0;
    margin-top: 10px;
  }
}

.link {
  color: var(--skyfritt-kontrast);
}

.italic {
  font-family: $fontItalic;
}

.bold {
  font-family: $fontMedium;
}

.editGroup {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 100px;
  left: 0;

  button {
    margin-left: 10px;
  }

  @media #{$desktop} {
    justify-content: flex-end;
    padding-top: 48px;
    right: 0;
  }
}

.organizerText {
  font-family: $fontItalic;
}
