@import 'src/style/constants';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media #{$desktop} {
    align-items: flex-start;
    display: grid;
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//Kan fjernes
.title {
}

//Fjern
.organizerName {
}

//Fjern
.organizerEmail {
}

//Fjern
.description {
}

.startDateContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'sd sd sd sd'
    'st st et et';
  gap: 20px;
  @media #{$desktop} {
    display: flex;
  }
}

.startEndDateContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'sd sd sd sd st'
    'ed ed ed ed et';
  gap: 20px;
  @media #{$desktop} {
    grid-column: 1;
    grid-row: 3 / span 2;
  }
}

.startDate {
  grid-area: sd;
  width: 100%;
  min-width: 150px;
}

.endDate {
  grid-area: ed;
}

.startTime {
  grid-area: st;
}

.endTime {
  grid-area: et;
}

//Fjern
.endDateCheckBox {
}

//Fjern
.location {
}

//Fjern
.openForRegistrationTime {
}

//Fjern??
.limitSpotsContainer {
  @media #{$desktop} {
    padding-top: 30px;
    grid-column: 3;
    grid-row: 2;
    align-self: center;
  }
}

//Fjern
.externalEvent {
}

.limitSpots {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  & > div {
    flex-grow: 1;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  @media #{$desktop} {
    grid-column: 3;
    grid-row: 3;
    margin-top: 0;
  }
}

.waitListCB {
  margin-bottom: 5px;
}

.removeQButton {
  margin-top: 10px;
}

.text {
  @include smallText;
  color: var(--svart60);
}

.questionOpen {
  @media #{$desktop} {
    grid-column: 3;
    grid-row: 3 / span 2;
  }
}

//Used when limitSpot is checked
.questionOpen2 {
  @media #{$desktop} {
    grid-column: 3;
    grid-row: 4 / span 2;
  }
}

.questionClosed {
  @media #{$desktop} {
    margin-top: 25px;
    grid-column: 3;
    grid-row: 3;
  }
}

//Used when limitSpot is checked
.questionClosed2 {
  @media #{$desktop} {
    grid-column: 3;
    grid-row: 4;
  }
}

.shortName {
  @media #{$desktop} {
    grid-column: 2;
    grid-row: 6 / span 2;
  }
}

.origin {
  max-width: min-content;
  @include smallText;
  color: var(--svart60);
  margin-right: 0.2em;
}

.flex {
  display: flex;
  align-items: center;
}
