@import 'src/style/constants';

.editSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.organizerContainer {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $mobileMaxWidth) {
    flex-direction: column;
  }
}
