@import 'src/style/constants';

.container {
  display: block;
  min-width: 300px;
  max-width: 300px;
  position: relative;
  align-self: center;
  height: fit-content;
}

.selectedElement {
  display: flex;
  height: 39px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 20px;
  @include buttonText;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    polyline {
      stroke: black;
    }
  }
}

.selectedElementOpen {
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  border-radius: 20px 20px 0 0;
  polyline {
    stroke: black;
  }
}

.elementsWrapper {
  position: absolute;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.elementText {
  font-family: $fontLight;
  font-size: $buttonMobile;
  padding-left: 20px;
  color: black;
}

.dropdownElement {
  min-height: 1.25em;
  line-height: 1.25;
  padding: 5;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: var(--overskyet);
    color: black;
  }
  &:active {
    background-color: var(--gul);
  }
  & > p {
    margin: 5;
    margin-left: 10;
  }
}

.dropdownElementSelected {
  background-color: var(--gul);
}

.arrow {
  right: 20;
  transition: 0.2s ease-out;
  cursor: pointer;
  place-self: center;
}

.upSideDown {
  transform: rotate(180deg);
  transition: 0.2s ease-out;
}

.text {
  white-space: nowrap;
  padding-right: 10;
}

.lastElement {
  border-radius: 0 0 20px 20px;
}
