@import 'src/style/constants';
@import 'src/style/fonts';

.textLabel {
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
  @include regularText;
}

.textArea {
  width: 100%;
  resize: vertical;
  line-height: 1.5;
  outline: none;
  border: none;
  border-bottom: solid 1px;
  border-color: var(--textColor);
  background-color: var(--backgroundColor);
  display: block;
  @include regularText;
}

.visited {
  border-color: var(--textColor);
}

.error {
  border-color: var(--error);
}
