@import 'src/style/constants';

.textLabel {
  display: block;
  @include labelText;
}

.textLabelLightBackground {
  color: var(--svart60);
}

.textArea {
  width: 100%;
  line-height: 1.5;
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: solid 2px;
  display: block;
  padding: 10px 10px 0 10px;
  @include regularText;
  color: black;
  resize: vertical;
  &:focus {
    border-color: var(--nattKontrast);
  }
}

.onDarkBackground {
  background-color: white;
  border-color: var(--svart20);
}

.onLightBackground {
  background-color: var(--overskyet50);
  border-color: var(--svart60);
}

.visited {
  border-color: var(--textColor);
}

.error {
  border-color: var(--error);
}
