@import 'src/style/constants';
@import 'src/style/fonts';

.textLabel {
  color: var(--textColor);
  font-size: $textDesktop;
  font-family: $fontLight;
  padding-bottom: 5px;
  @media screen and (max-width: $mobileMaxWidth) {
    font-size: $textMobile;
  }
}

.textArea {
  border: solid 1px;
  border-color: var(--textColor);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  font-size: $textDesktop;
  padding: 10px;
  display: block;
  font-family: $fontLight;
  @media screen and (max-width: $mobileMaxWidth) {
    font-size: $textMobile;
  }
}
