.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.dateTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
