@import 'src/style/constants';

.header {
  @include headerText;
  color: black;
  margin-top: 130px;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
