.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subsection {
  margin: 20px 0px;
}

.form {
  display: flex;
  flex-direction: column;
}

.dateTime {
  display: flex;
  flex-direction: row;
}
