@import 'src/style/constants';
@import 'src/style/fonts';

.previewContainer {
  width: 60%;
}

.dataEntry {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  :nth-child(1) {
    width: 50%;
  }
}

.header {
  font-size: $headerMobile;
  font-family: $serifFontRegular;
  @media #{$desktop} {
    font-size: $headerDesktop;
  }
}
