@import 'src/style/constants';
@import 'src/style/colors';

.header {
  @include headerText;
  color: black;
  margin-top: 130px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text {
  @include regularText;
  margin-top: 20px;
}

.groupedButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.groupedButtons > button:not(:first-child) {
  margin-left: 10px;
}

.redButton {
  background-color: var(--solnedgangKontrast);
}
