@import 'src/style/constants';

.header {
  @include headerText;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text {
  @include regularText;
  margin-top: 20px;
}

.groupedButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.groupedButtons > button:not(:first-child) {
  margin-left: 10px;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  & > div {
    flex-grow: 1;
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
