@import 'src/style/constants';

.header {
  @include headerText;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.text {
  @include regularText;
  margin-top: 20px;
}

.groupedButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.groupedButtons > :not(:first-child) {
  margin-left: 10px;
}