@import 'src/style/constants';

.button {
  @include buttonText;
  background-color: var(--lightTextColor);
  height: 44px;
  min-width: 100px;
  max-width: 140px;
  padding: 0 10px;
  border: 1px solid var(--backgroundColor);
  transition: background-color $transitionLength, color $transitionLength,
    border $transitionLength;
  @media #{$desktop} {
    width: 200px;
  }

  &:hover {
    background-color: var(--backgroundColor);
    border: 1px solid var(--lightTextColor);
    color: var(--lightTextColor);
    cursor: pointer;
  }
  &:focus {
    outline: 0;
    background-color: var(--active);
    color: var(--backgroundColor);
    border-color: var(--backgroundColor);
  }
  &:disabled {
    background-color: var(--backgroundColor);
    color: var(--disabled);
    cursor: initial;
  }
}

.whiteButton {
  background-color: var(--backgroundColor);
  border: 1px solid var(--lightTextColor);
  color: var(--lightTextColor);

  &:hover {
    background-color: var(--lightTextColor);
    color: var(--backgroundColor);
    border: 1px solid var(--backgroundColor);
    cursor: pointer;
  }
}

.link {
  @include regularText;
  display: block;
  text-decoration: underline;
  margin-top: 20px;
  border: none;
  background-color: transparent;
}
