@import 'src/style/constants';

.button {
  @include regularText;
  color: var(--svart);
  background-color: var(--overskyet);
  height: 35px;
  width: max-content;
  min-width: 50px;
  max-width: 200px;
  overflow-wrap: break-word;
  @media #{$desktop} {
    height: 50px;
    padding: 10px;
  }
  &:hover {
    background-color: var(--svart);
    color: var(--overskyet);
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    background-color: var(--backgroundColor);
    color: var(--grey);
  }
}
