@import 'src/style/constants';

.button {
  @include buttonText;
  background-color: var(--textColor);
  height: 44px;
  width: 200px;
  border: 1px solid var(--textColor);

  &:hover {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    background-color: var(--backgroundColor);
    color: var(--disabled);
  }
}
