@import 'src/style/constants';
@import 'src/style/fonts';

.card {
  border: solid 1px white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 340px;
  justify-content: space-between;
  color: var(--lightTextColor);
  text-decoration: none;
  @media #{$desktop} {
    min-height: 300px;
  }
  &:hover {
    color: black;
  }
  &:hover .locationIcon path {
    fill: black;
  }

  &:hover .stateIcon path {
    fill: black;
  }

  &:hover .externalIcon path:first-child {
    stroke: black;
  }
  &:hover .externalIcon path:not(:first-child) {
    fill: black;
  }
  &:hover .externalIcon circle {
    stroke: black;
  }
}

.hav {
  &:hover {
    background-color: var(--hav);
  }
}
.kveld {
  &:hover {
    background-color: var(--kveld);
  }
}

.regn {
  &:hover {
    background-color: var(--regn);
  }
}

.skyfritt {
  &:hover {
    background-color: var(--skyfritt);
  }
}
.sol {
  &:hover {
    background-color: var(--sol);
  }
}
.solnedgang {
  &:hover {
    background-color: var(--solnedgang);
  }
}
.soloppgang {
  &:hover {
    background-color: var(--soloppgang);
  }
}

.cardFaded {
  border-color: var(--svart20);
  color: var(--svart20);
}

.link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.cardContent  {
  justify-content: space-between;
}

.title {
  font-family: $serifFontRegular;
  margin: 8px 0 13px 0;
  word-wrap: break-word;
}

.shortTitle {
  font-size: 35px;
  line-height: 40px;
  @media #{$desktop} {
    font-size: 30;
  }
}

.longTitle {
  font-size: 30px;
  line-height: 35px;
  @media #{$desktop} {
    font-size: 26;
  }
}

.date {
  font-size: 16px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
}

.iconText {
  margin-right: 10px;
  font-size: 16px;
  margin-left: 5px;
}

.locationIcon {
  min-width: 20px;
  min-height: 20px;
}

.external {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 10px;
  text-align: center;
}

.externalIcon {
  width: 20px;
  height: 20px;
}

.cardFooter {
  align-self: center;
  margin-top: auto;
  padding-top: 67px;
}

.stateContainer {
  display: flex;
  flex-direction: column;
}

.stateText {
  margin-bottom: 8px;
  font-size: 16px;
  text-align: center;
}

.stateIconContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  align-items: center;
}

.stateIcon {
  min-width: 25px;
  min-height: 25px;
  margin-right: 8px;
}
