@import 'src/style/constants';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: auto;
  margin: 50px auto 0 auto;
  gap: 40px;
  @media #{$tablet} {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  @include titleText;
}

.pastEventsContainer {
  margin-top: 60px;
}

.subHeaderText {
  @include subHeaderText;
}
