@import 'src/style/constants';

.textArea {
  margin-bottom: 15px;
  @include regularText;
  color: black;
  outline: 0;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.groupedButtons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
}
