@import 'src/style/constants';
@import 'src/style/fonts';

.timeInput {
  border: none;
  outline: 0;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  text-align: center;
  font-family: $fontLight;
  width: 30px;
  font-size: $textDesktop;
  font-size: $textMobile;
  @media #{$desktop} {
    font-size: $textDesktop;
    width: 70px;
  }
}

.timeInputContainer {
  display: flex;
  border: solid 1px;
  border-color: var(--textColor);
  flex-direction: row;
}
