@import 'src/style/constants';

.timeInput {
  outline: 0;
  background-color: var(--backgroundColor);
  text-align: center;
  align-self: center;
  width: 45%;
  margin: 5px;
  line-height: 2;
  @include regularText;
  @media #{$desktop} {
    width: 50px;
    margin: 10px;
  }
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px var(--textColor);
  -moz-appearance: textfield;
}

.dropdown {
  white-space: pre-wrap;
  align-self: center;
  background-color: #222;
  border: none;
  @include regularText;
}

.timeInputContainer {
  display: flex;
  border: none;
  flex-direction: row;
  width: 100px;
  justify-content: flex-end;
}

.text {
  @include regularText;
  text-align: center;
  line-height: 2;
  margin: 5px 0;
}
