@import 'src/style/constants';
@import 'src/style/fonts';

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.label {
  white-space: nowrap;
  color: var(--textColor);
  align-self: center;
  font-size: $textMobile;
  font-family: $fontLight;
  @media #{$desktop} {
    font-size: $textDesktop;
  }
}

.container {
  display: flex;
  justify-content: flex-end;
}
