@import 'src/style/constants';

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.label {
  white-space: nowrap;
  align-self: center;
  @include regularText;
}

.container {
  display: flex;
  justify-content: flex-end;
}
