@import 'src/style/colors';
@import 'src/style/constants';
@import 'src/style/fonts';

.link {
  width: 100%;
  text-decoration: none;
  align-self: center;
  @include regularText;
  color: var(--overskyet);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 0;
  @media #{$desktop} {
    grid-template-columns: repeat(5, 1fr);
  }
}

.row {
  display: flex;
  :hover {
    text-decoration: underline;
  }
}

.text {
  line-height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  align-self: center;
}

.desktopText {
  @extend .text;
  display: none;
  @media #{$desktop} {
    display: block;
  }
}

.date {
  text-align: right;
  white-space: pre-line;
  align-self: center;
}

.desktopDate {
  @extend .date;
  display: none;
  @media #{$desktop} {
    display: block;
    text-align: center;
  }
}

.pencil {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: solid 1px;
  border-color: var(--textColor);
  transition: fill 0.1s ease;
  @media #{$desktop} {
    width: 37px;
    height: 37px;
  }
  rect {
    transition: transform 0.5s;
    transform: translateY(100%);
    fill: var(--natt);
  }
  &:hover rect {
    transform: translateY(0%);
  }
}
