@import 'src/style/colors';
@import 'src/style/constants';
@import 'src/style/fonts';

.link {
  width: 100%;
  text-decoration: none;
  align-self: center;
  @include regularText;
  color: var(--overskyet);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px 0;
  @media #{$desktop} {
    grid-template-columns: repeat(4, 1fr);
  }
}

.row {
  :hover {
    text-decoration: underline;
  }
}

.text {
  align-self: center;
}

.organizer {
  @extend .text;
  visibility: hidden;
  @media #{$desktop} {
    visibility: visible; 
  }
}

.date {
  text-align: right;
  white-space: pre-line;
  align-self: center;
}

.desktopDate {
  visibility: hidden;
  @media #{$desktop} {
    visibility: visible;
    text-align: center;
    align-self: center;
  }
}
