@import 'src/style/colors';
@import 'src/style/constants';
@import 'src/style/fonts';

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--overskyet);
  align-self: center;
  font-family: $fontLight;
  font-size: $textMobile;
  @media #{$desktop} {
    font-size: $textDesktop;
  }
}
