@import 'src/style/constants';

.plus {
  align-self: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-color: var(--textColor);
  transition: fill 0.1s ease;
  @media #{$desktop} {
    width: 37px;
    height: 37px;
  }

  rect {
    transition: transform 0.5s;
    transform: translateY(100%);
    fill: var(--natt);
  }
  &:hover rect {
    transform: translateY(0%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerText {
  @include headerText;
}
