@import 'src/style/constants';
@import 'src/style/fonts';

.dateInput {
  border: solid 1px;
  border-color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 8px;
  display: block;
  width: 135px;
  @include regularText;
  @media #{$desktop} {
    width: 190px;
  }
}
