@import 'src/style/constants';
@import 'src/style/fonts';

.dateInput {
  border: none;
  outline: none;
  background-color: var(--backgroundColor);
  display: block;
  width: 120px;
  text-align: center;
  line-height: 2;
  @include regularText;
  @media #{$desktop} {
    width: 160px;
  }
}

.iOS {
  -webkit-appearance: none;
}
