@import 'src/style/constants';
@import 'src/style/fonts';

.dateInput {
  border: solid 1px;
  border-color: var(--textColor);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 10px;
  display: block;
  width: 100%;
  font-family: $fontLight;
  font-size: $textMobile;
  @media #{$desktop} {
    font-size: $textDesktop;
    width: 170px;
  }
}
